@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  padding: 0.5em 1.5em;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

footer {
  margin: 0;
}

.large-heading,
h3,
.big-heading {
  font-family: "DM Serif Display", serif;
  padding: 0 1rem;
  font-weight: 200;
  line-height: 1;
}

.large-heading {
  font-size: 3rem;
}

.heading-light,
.text-light {
  color: #fafafa;
}

.text-content {
  line-height: 1.7;
}

.text-content-gray {
  color: #837d87;
}

.btn {
  background: transparent;
  text-transform: uppercase;
  padding: 0.8em 2.4em;
}

.btn-light-border {
  border: 2px solid white;
  color: white;
}

.big-heading {
  font-size: 2.7rem;
}

.list-heading {
  color: #837d87;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.9;
  letter-spacing: 1.4px;
  font-size: 14px;
}

footer {
  background: #fafafa;
}

footer li {
  color: #2b272f;
  word-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 14px;
}

.desktop-img-left,
.desktop-img-right,
.footer-img {
  display: none;
}

@media screen and (min-width: 600px) {
  .large-heading,
  h3,
  .big-heading {
    padding: 0;
  }
  .large-heading {
    position: relative;
    font-size: 4rem;
  }
  .big-heading {
    font-size: 3.5rem;
    width: 60%;
  }
  .large-heading::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 30%;
    background: white;
    top: -4rem;
    left: 0;
  }
}

.btn:hover {
  background-color: white;
  color: black;
}

footer .icons svg {
  cursor: pointer;
}

footer .icons svg:hover path {
  fill: black;
}

footer li:hover {
  text-decoration: underline;
}

body {
  font-family: "Karla", sans-serif;
  text-align: center;
}

.active {
  display: block !important;
}

.no-scroll {
  overflow: hidden;
}

header {
  position: relative;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 1.5rem;
}

header .menu-container {
  display: none;
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 80px;
  left: 0;
  background: #2b272f;
  background-image: url("../images/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

header .menu-container li:not(li:last-child) {
  color: #fafafa;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-top: 2rem;
}

header .menu-container .btn {
  margin-top: 2rem;
  padding: 0.7em 5em;
  font-size: 1.3rem;
}

header .hamburger,
header .close {
  display: none;
}

header .header-content {
  position: relative;
  background-color: #2d2640;
}

header .header-content-main {
  padding: 5.5rem 1.5rem;
  background-image: url("../images/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: local;
}

header .header-content .desktop-img-left,
header .header-content .desktop-img-right {
  display: none;
}

header .header-img {
  display: inline-block;
  width: 100vw;
  content: "";
}

header .header-img img {
  width: 100%;
}

header .header-bottom-img {
  display: block;
  position: absolute;
  bottom: -15%;
  right: 0;
}

header .btn {
  margin-top: 1rem;
}

main {
  margin: 10rem 1.5rem 0;
}

main .large-heading {
  position: relative;
}

main .main-heading::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 40%;
  background: #837d87;
  top: -2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

main .properties-container {
  margin: 4rem 0 6rem;
}

main .properties-container img {
  margin: 2rem 0 3rem;
}

main .properties-container h3 {
  font-size: 1.7rem;
}

main .bottom-container {
  background-color: #2d2640;
  padding: 5rem 0.3rem;
  position: relative;
  background-image: url("../images/bg-pattern-how-we-work-mobile.svg") !important;
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: local;
}

main .bottom-container .btn {
  margin-top: 2rem;
}

footer {
  position: relative;
  margin-top: 8rem;
}

footer .footer-top {
  padding-top: 4rem;
  background-image: url("../images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer .icons {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.8rem;
}

footer .footer-bottom {
  border-top: 1px solid rgba(131, 125, 135, 0.3);
  width: 90%;
  margin: 2rem auto 0;
  padding: 2.5rem 0;
}

footer .list-heading {
  margin-bottom: 2rem;
}

footer ul {
  margin-bottom: 2rem;
}

footer li {
  font-weight: 700;
}

footer ul > * + * {
  margin-top: 0.8rem;
}

@media screen and (min-width: 600px) {
  body {
    text-align: left;
  }
  header .nav-toggle {
    display: none;
  }
  header nav {
    padding: 1rem 10%;
  }
  header .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    gap: 1rem;
    position: static;
    background: white;
  }
  header .menu-container li {
    color: #837d87 !important;
    margin: 0 0.5rem !important;
    font-size: 14px !important;
    font-weight: 600;
  }
  header .menu-container .btn {
    border: 2px solid black;
    color: black;
    width: 130px;
    font-size: 14px;
    padding: 0.6em 1.5em;
    margin: 0;
    font-weight: 600;
  }
  header .menu-container .btn:hover {
    background: #2d2640;
    color: white;
  }
  header .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    background-image: none;
    position: relative;
    padding: 0 10%;
  }
  header .header-content-main {
    min-width: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: auto 0;
    background-image: none;
  }
  header .header-img {
    padding-top: 10rem;
    width: 45%;
    min-width: 300px;
    content: url("../images/image-intro-desktop.jpg");
    margin-bottom: -8rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
  main {
    padding: 10rem 10% 0;
    margin-left: 0;
    margin-right: 0;
  }
  main .properties-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3.5rem;
  }
  main .bottom-container {
    padding: 4rem 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg") !important;
    right: 0;
    background-size: contain;
  }
  main .btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-heading::before {
    left: 0 !important;
    margin: 0 !important;
    width: 10% !important;
  }
  footer .footer-top,
  footer .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-top {
    padding-left: 10%;
    padding-right: 10%;
    background-image: none;
  }
  footer .footer-bottom {
    width: 80%;
    padding-right: 15%;
  }
  .header-bottom-img {
    display: none !important;
  }
  .desktop-img-left,
  .desktop-img-right,
  .footer-img {
    display: block !important;
    position: absolute !important;
    pointer-events: none;
  }
  .desktop-img-right {
    top: 0;
    right: 0;
  }
  .desktop-img-left {
    left: 0;
    bottom: -20rem;
  }
  .footer-img {
    top: 0;
  }
}
/*# sourceMappingURL=style.css.map */