<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js" defer></script>
    <title>Countries</title>
  </head>
  <body class="dark">
    <header>
      <h2>Where in the world?</h2>
      <div class="theme">
        <i class="fa-solid fa-moon"></i>
        <span>Dark mode</span>
      </div>
    </header>
    <main>
      <div id="app" class="main-container">
        <section class="top-section" v-if="!detailActive">
          <input
            type="text"
            placeholder="Search for a country..."
            v-model="searchTerm"
            @keyUp.prevent="processInput"
          />
          <div class="results">
            <ul>
              <li
                v-for="result in matchingCountries"
                @click="showDetails(result)"
              >
                {{result}}
              </li>
            </ul>
          </div>

          <div class="select-wrapper">
            <select name="select" id="select">
              <option disabled hidden selected value>Filter by Region</option>
              <option value="America" @click="filterCountries('americas')">
                America
              </option>
              <option value="Asia" @click="filterCountries('asia')">
                Asia
              </option>
              <option value="Europe" @click="filterCountries('europe')">
                Europe
              </option>
              <option value="Oceania" @click="filterCountries('oceania')">
                Oceania
              </option>
            </select>
          </div>
          <i class="fas fa-search icon"></i>
        </section>
        <section
          class="country-section"
          v-if="countries.length > 0 && !detailActive"
        >
          <div
            v-for="country in countries"
            :key="country.name"
            class="card"
            @click="showDetails(country.name)"
          >
            <div class="flag">
              <img :src="country.flags.svg" alt="flag" />
            </div>
            <div class="info">
              <h3 class="info__header">{{country.name}}</h3>
              <div class="info__row">
                <span class="type"> Population: </span>
                <span class="value"> {{country.population}} </span>
              </div>
              <div class="info__row">
                <span class="type"> Region: </span>
                <span class="value"> {{country.region}} </span>
              </div>
              <div class="info__row">
                <span class="type"> Capital: </span>
                <span class="value">{{country.capital}} </span>
              </div>
              <div class="info__row"></div>
              <div class="info__row"></div>
            </div>
          </div>
        </section>
        <section class="detail-page" v-if="detailActive">
          <button class="btn" @click="goBack">
            <i class="fa-solid fa-arrow-left"></i> Back
          </button>
          <div class="detail-page__container">
            <img :src="countryDetails.flags.svg" alt="flag" class="big-flag" />

            <div class="info-container">
              <h2 class="country-name">{{countryDetails.name}}</h2>
              <div class="info-stats">
                <div class="left">
                  <div class="info__row">
                    <span class="type"> Native Name: </span>
                    <span class="value">
                      {{countryDetails.languages[0].nativeName}}
                    </span>
                  </div>
                  <div class="info__row">
                    <span class="type"> Population: </span>
                    <span class="value"> {{countryDetails.population}} </span>
                  </div>
                  <div class="info__row">
                    <span class="type"> Region: </span>
                    <span class="value"> {{countryDetails.region}} </span>
                  </div>
                  <div class="info__row">
                    <span class="type"> Sub Region: </span>
                    <span class="value"> {{countryDetails.subregion}} </span>
                  </div>
                  <div class="info__row">
                    <span class="type"> Capital: </span>
                    <span class="value"> {{countryDetails.capital}} </span>
                  </div>
                </div>
                <div class="right">
                  <div class="info__row">
                    <span class="type"> Top Level Domain: </span>
                    <span class="value">
                      {{countryDetails.topLevelDomain[0]}}
                    </span>
                  </div>
                  <div class="info__row">
                    <span class="type"> Currencies: </span>
                    <span
                      class="value"
                      v-for="currency in countryDetails.currencies"
                    >
                      {{ currency.code }}
                    </span>
                  </div>
                  <div class="info__row">
                    <span class="type"> Languages: </span>
                    <span v-for="language in countryDetails.languages">
                      {{language.name}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
