<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js" defer></script>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link rel="stylesheet" href="css/style.css" />

    <title>Frontend Mentor | Todo app</title>
  </head>
  <body>
    <header>
      <div class="header-items">
        <h3>TODO</h3>
        <div class="icons">
          <img src="images/icon-moon.svg" alt="moon" class="icon-moon" />
          <img src="images/icon-sun.svg" alt="sun" class="icon-sun show" />
        </div>
      </div>
    </header>
    <main>
      <div id="app">
        <div class="todo-container">
          <div class="todo-item new-todo">
            <div
              class="circle"
              @click="addNewItem"
              @keyup.enter="addNewItem"
            ></div>
            <input
              type="text"
              id="newTodo"
              class="new-item"
              placeholder="Create new todo..."
              v-model="newTodo"
            />
          </div>

          <div class="wrapper" v-if="todos.length > 0">
            <div class="todos">
              <div
                v-for="(todo, index) in filteredTodos"
                :key="index"
                class="todo-item"
              >
                <label :for="`checkbox${index}`" class="circle">
                  <input
                    type="checkbox"
                    :value="todo.todo"
                    :name="`checkbox${index}`"
                    :id="`checkbox${index}`"
                    v-model="todo.checked"
                  />
                  <div class="fill"></div>
                </label>
                <p
                  class="todo-text"
                  :class="{ complete: todo.checked }"
                  @click="todo.checked = !todo.checked"
                >
                  {{ todo.todo }}
                </p>

                <img
                  src="images/icon-cross.svg"
                  alt=""
                  @click="deleteItem(todo.todo)"
                />
              </div>

              <div class="todo-item last">
                <span class="left">{{ todos.length }} items left</span>
                <span class="completed" @click="deleteAllCompleted"
                  >Clear Completed</span
                >
              </div>
            </div>
          </div>
          <div class="todo-item todo-watcher">
            <span
              class="active"
              :class="{ selected: filter === 'all' }"
              @click="filter = 'all'"
              >All</span
            >
            <span
              @click="filter = 'active'"
              :class="{ selected: filter === 'active' }"
              >Active</span
            >
            <span
              @click="filter = 'completed'"
              :class="{ selected: filter === 'completed' }"
              >Completed</span
            >
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
