@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root {
    --soft-cyan: hsl(174, 77%, 80%);        /* Full Slider Bar */
    --strong-cyan: hsl(174, 86%, 45%);      /* Slider Background */
    --light-gr-red: hsl(14, 92%, 95%);      /* Discount Background */
    --light-red: hsl(15, 100%, 70%);        /* Disount Text */
    --pale-blue: hsl(226, 100%, 87%);       /* CTA Text */

    --white: hsl(0, 0%, 100%);              /* Pricing Component Background */ 
    --very-pale-blue: hsl(230, 100%, 99%);  /* Main Background */
    --light-gr-blue: hsl(224, 65%, 95%);    /* Empty Slider Bar */
    --toggle-blue: hsl(223, 50%, 87%);      /* Toggle Background */
    --gr-blue: hsl(225, 20%, 60%);          /* Text */
    --dark-des-blue: hsl(227, 35%, 25%);    /* Text & CTA Background */
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    height: 90vh;
    min-width: 350px;
    background-color: var(--very-pale-blue);
    background-image: url("images/bg-pattern.svg");
    background-repeat: no-repeat;
    background-size: 100% 55%;
    text-align: center;
    color: var(--gr-blue);
}

h2, h3 {
    margin: 0;
    padding: 0;
}

header {
    margin: 5rem 0 2rem;
    padding: 2rem 0;
    background-image: url("images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

header h2 {
    color: var(--dark-des-blue);
}

.text {
    padding: 0 5rem;
    line-height: 1.9;
}

.main-container {
    background-color: var(--white);
    margin: 0 2rem;
    border-radius: 8px;
    max-width: 550px;
    box-shadow: 0 15px 15px 2px hsla(225, 20%, 60%, .1);
}

.pageviews {
    padding-top: 2rem;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.slider-bar {
    position: relative;
    width: 85%;
    margin: 3rem auto;
    height: 10px;
    border-radius: 10px;
    -webkit-appearance: none;
    appearance: none;  
    outline: none;
    background: linear-gradient(to left, var(--light-gr-blue) 50%, var(--soft-cyan) 50%);

}

.slider-bar::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--strong-cyan);
    background-image: url("images/icon-slider.svg");
    background-repeat: no-repeat;
    background-position: center center; 
    cursor: pointer;
    box-shadow: 0 15px 20px 5px hsla(174, 86%, 45%, .3);
}

.slider-bar::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--strong-cyan);
    background-image: url("images/icon-slider.svg");
    background-repeat: no-repeat;
    background-position: center center; 
    border: none;
    cursor: pointer;
    box-shadow: 0 15px 20px 5px hsla(174, 86%, 45%, .3);
}

.left {
    position: absolute;
}

.price-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px
}

.price {
    color: var(--dark-des-blue);
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: -1px;
}

.month {
    font-size: 16px;
}

/* 
*   checkbox slider styling
*/

.billing-container {
    padding: 3rem 0;
    border-bottom: 1px solid hsla(225, 20%, 60%, .2);
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: .3rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 22px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.cb-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-blue);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 40px;
}

.cb-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: transform .4s;
    border-radius: 50%;
}

input:checked + .cb-slider:before {
    transform: translateX(22px);
}

input:checked + .cb-slider {
    background-color: var(--strong-cyan);
}

.percent {
    padding: .1em .3em;
    background: var(--light-gr-red);
    color: var(--light-red);
    border-radius: 10px;
}

/* 
*   footer-styling 
*/

.footer {
    margin: 2rem 0 4rem;
}

.row {
    font-size: 14px;
    margin: 1rem;
}

.benefits {
    margin-left: .79rem;
}

.btn {
    border: none;
    outline: none;
    border-radius: 30px;
    background: var(--dark-des-blue);
    color: var(--pale-blue);
    font-family: inherit;
    font-size: 14px;
    padding: 1em 3.5em;
    margin: 2rem 0;
    cursor: pointer;
    transition: background .2s, color .2s;
}

.btn:hover {
    color: white;
    background: hsl(225, 30%, 21%);
}

@media screen and (min-width: 600px) {

    .header h2 {
        font-size: 1.75rem;
    }

    .main-container {
        margin: 0 auto;
        position: relative;
    }

    .pageviews {
        text-align: left;
        padding-top: 3.5rem;
        padding-left: 3rem;
    }

    .price-container {
        position: absolute;
        top: 3rem;
        right: 3rem;
    }

    .price {
        font-size: 2.5rem;
    }

    .slider-bar {
        margin: 5rem auto 1rem;
    }

    .billing-container {
        justify-content: flex-end;
        padding-right: 3rem;
        gap: 1rem;
        font-size: 13px;
    }

    .percent::after {
        content: " discount";
    }

    .footer {
        margin: 0;
        padding: 1rem;    
    }

    .row {
        text-align: left;
        margin: .5rem 0;
    }

    .benefits-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}